{
  "stage": 0,
  "ignore": [
    "adapters/templates",
    "app/templates",
    "authentication/templates",
    "blueprints/templates",
    "config/templates",
    "controllers/templates",
    "cron/templates",
    "hooks/templates",
    "logger/templates",
    "models/templates",
    "policies/templates",
    "responses/templates",
    "services/templates"
  ]
}
