{
  "presets": ["es2015-node4"],
  "plugins": ["add-module-exports"],
  "ignore": [
    "adapter/templates",
    "app/templates",
    "authentication/templates",
    "blueprint/templates",
    "config/templates",
    "controller/templates",
    "cron/templates",
    "hook/templates",
    "logger/templates",
    "model/templates",
    "policy/templates",
    "response/templates",
    "service/templates",
    "swagger/templates"
  ]
}
