/**
 * <%= name %>
 * @description :: Model for ...
 */

export default {
  schema: true,

  attributes: {
    toJSON: function () {
      let obj = this.toObject();
      return obj;
    }
  },

  beforeUpdate: function (values, next) {
    next();
  },

  beforeCreate: function (values, next) {
    next();
  }
};
